body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8; 
    background-image: url('Background.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
  }
  
  .detail-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center; 
  }
  
  .white-background {
    background-color: #fff; 
    padding: 10px; 
    border-radius: 4px; 
  }

  .menu-item img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  
  .menu-item h3 {
    background-color: #fff; 
    padding: 8px; 
    border-radius: 4px; 
    margin-top: 10px;
    text-align: center; 
  }
  
  
  .menu-item p {
    background-color: #fff; 
    padding: 8px; 
    border-radius: 4px; 
    color: #000000;
    line-height: 1.6;
    margin-top: 10px;
    text-align: center; 
  }
  
  
  